<button class="btn-trans bars" (click)="toggleNav()"><img src="assets/three_bars.svg" width="20px" height="20px"></button>
<div class="menu" [class.open]="navOpen"
(mousedown)="moveStart($event.clientX)" (mouseup)="moveEnd($event.clientX)" (mouseleave)="moveEnd($event.clientX)"
(touchstart)="moveStart($event.touches[0].clientX)" (touchend)="touchEnd()">
  <ul>
    <li *ngIf="shared.language == 'en'"><a (click)="navOpen = false" routerLink="/">Home</a></li>
    <li *ngIf="shared.language == 'en'"><a (click)="navOpen = false" routerLink="gallery">Gallery</a></li>
    <li *ngIf="shared.language == 'en'"><a (click)="navOpen = false" routerLink="categories">Categories</a></li>
    <li *ngIf="shared.language == 'en'"><a (click)="navOpen = false" routerLink="contacts">Contacts</a></li>
    <li *ngIf="shared.language == 'ru'"><a (click)="navOpen = false" routerLink="/">Главная</a></li>
    <li *ngIf="shared.language == 'ru'"><a (click)="navOpen = false" routerLink="gallery">Галерея</a></li>
    <li *ngIf="shared.language == 'ru'"><a (click)="navOpen = false" routerLink="categories">Категории</a></li>
    <li *ngIf="shared.language == 'ru'"><a (click)="navOpen = false" routerLink="contacts">Контакты</a></li>
    <hr>
    <li><a (click)="shared.setLanguage('en'); navOpen = false">English</a></li>
    <li><a (click)="shared.setLanguage('ru'); navOpen = false">Русский</a></li>
    <ng-container *ngIf="shared.admin === true">
      <hr>
      <li><a (click)="navOpen = false" routerLink="admin/page-manager">Page Manager</a></li>
      <li><a (click)="shared.logOut(); navOpen = false">Log Out</a></li>
    </ng-container>

  </ul>
</div>
<div class="nav-back" *ngIf="navOpen" [@home]="true" (click)="navOpen = false"></div>
