@import "~sass/variables";
.menu {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: -100vw;
  background-color: #4a6c80;
  transition: all .5s;
  z-index: 80;
  color: white;
  &.open {
    transform: translateX(100vw);
    box-shadow: 0px 0px 12px 0px black;
  }
}
.menu ul {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 280px;
  margin: 30vh auto 0 auto;
  text-align: center;
  font-size: 20px;
}
.menu ul li {
  margin-bottom: 10px;
}
.menu ul hr {
  margin: 30px 0;
}
.bars {
  position: fixed;
  top: 15px;
  left: 16px;
  z-index: 85;
  background-color: white;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  transition: all 0.5s;
  &:hover {
    background-color: rgb(210, 210, 210);
  }
  box-shadow: $shadow;
}
.nav-back {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 70;
  background-color: rgba(0, 0, 0, 0.4);
}

/* desktop */
@media screen and (min-width: 768px) {
  .menu {
    width: 768px;
    left: -768px;
    &.open {
      transform: translateX(768px);
    }
  }
}
