<label><div class="btn">Upload picture</div><input type="file" style="display: none" (change)="onUpload($event.target)"></label>
<label><input type="checkbox" [(ngModel)]="compress">Compress</label>
<img *ngIf="processing" src="assets/loading.svg" width="30px" height="30px" style="vertical-align: middle">
<button class="btn" (click)="embedOpen = true">Embed video</button>
<input *ngIf="embedOpen == true" type="text" [(ngModel)]="embed_link" placeholder="Insert link" (keyup)="onEmbed()">
