@mixin screen($arg...) {
  @if length($arg) == 1 {
    @media screen and (min-width: nth($arg, 1)) {
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)) {
      @content;
    }
  }
}

@mixin clearFix {
  overflow: auto;
  &::before {
    content: '';
    clear: both;
  }
}

@mixin panel {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

@mixin simpleScroll {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey;
  }
}
