@import './variables';
@import './mixins';

@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Sumana');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}
button {
  outline: none;
}
h1, h2{
  font-weight: normal;
  color: black;
  font-family: $font1;
}
p {
  color: $grey2;
}
.tag {
  font-family: $font2;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: all 1s;
  font-weight: bold;
  &:hover {
    border-bottom: 2px solid green;
  }
}
input[type="text"], input[type="password"], textarea {
  border-radius: 3px;
  padding: 8px 0;
  border: 1px solid rgb(216, 216, 216);
  background: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
}
textarea {
  resize: none;
}
.btn {
  border-radius: 3px;
  padding: 10px 20px;
  border: 0;
  background-color: $blue;
  color: white;
  font-size: 14px;
  display: inline-block;
}
.btn2 {
  border-radius: 18px;
  padding: 9px 21px;
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  display: inline-block;

}
button:hover, .btn:hover {
  cursor: pointer;
}
.btn-trans {
  border: 0;
  background: 0;
}
.btn-trans > * {
  display: block;
}
* {
  user-select: none;
}
.wide-block {
  width: 100%;
  display: block;
}
.wrapper-link {
  display: block;
  app-image:hover {
    filter: grayscale(100%);
  }
  app-image {
    transition: filter .5s;
  }
}
.no-hover {
  &:hover {
    cursor: default;
  }
}
