$lightGrey: #f7f7f7;
$grey: #d8d8d8;
$grey2: #717171;
$blue: rgb(10, 145, 203);
$border: 1px solid $grey;
$shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
$shadow2: 3px 1px 10px 1px rgba(0, 0, 0, 0.25);
$shadow3: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
$font1: 'Cormorant SC', serif;
$font2: 'Poiret One', cursive;
