
<a href="https://vk.com/tatianakhmel" target="_blank">
  <svg data-name="Layer 21" height="24" id="Layer_21" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M21.54736,7H18.25688a.74281.74281,0,0,0-.65452.39156s-1.31237,2.41693-1.73392,3.231C14.73438,12.8125,14,12.125,14,11.10863V7.60417A1.10417,1.10417,0,0,0,12.89583,6.5h-2.474a1.9818,1.9818,0,0,0-1.751.8125s1.25626-.20312,1.25626,1.48958c0,.41974.02162,1.62723.04132,2.64a.72943.72943,0,0,1-1.273.50431,21.54029,21.54029,0,0,1-2.4982-4.54359A.69314.69314,0,0,0,5.5668,7C4.8532,7,3.42522,7,2.57719,7a.508.508,0,0,0-.47969.68481C3.00529,10.17487,6.91576,18,11.37917,18h1.87865A.74219.74219,0,0,0,14,17.25781V16.12342a.7293.7293,0,0,1,1.22868-.5315l2.24861,2.1127A1.08911,1.08911,0,0,0,18.223,18h2.95281c1.42415,0,1.42415-.98824.64768-1.75294-.54645-.53817-2.51832-2.61663-2.51832-2.61663A1.01862,1.01862,0,0,1,19.2268,12.307c.63737-.83876,1.67988-2.21175,2.122-2.79993C21.95313,8.70313,23.04688,7,21.54736,7Z"/></svg>
</a>
<a href="https://www.instagram.com/tantianka_k/" target="_blank">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 56.7 56.7" enable-background="new 0 0 56.7 56.7" xml:space="preserve">
  <g>
  	<path d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
  		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"/>
  	<circle cx="41.5" cy="16.4" r="2.9"/>
  	<path d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
  		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
  		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
  		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"/>
  </g>
  </svg>
</a>
<a href="https://www.facebook.com/tina.khmelevskaya" target="_blank">
  <svg height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M288,192v-38.1c0-17.2,3.8-25.9,30.5-25.9H352V64h-55.9c-68.5,0-91.1,31.4-91.1,85.3V192h-45v64h45v192h83V256h56.4l7.6-64  H288z"/></svg>
</a>
<a href="https://www.behance.net/vvcepheieedc" target="_blank">
  <svg enable-background="new 0 0 56.693 56.693" height="56.693px" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M23.556,29.975c0,0,4.701-0.35,4.701-5.863c0-5.514-3.846-8.206-8.719-8.206h-8.97h-0.263H3.503v30.815h6.802h0.263h8.97   c0,0,9.788,0.309,9.788-9.096C29.325,37.625,29.753,29.975,23.556,29.975z M10.568,21.383h7.815h1.154c0,0,2.18,0,2.18,3.205   c0,3.207-1.283,3.672-2.736,3.672h-8.414V21.383z M19.084,41.244c-0.237,0.006-0.438,0-0.573,0h-7.943V33.01h8.97   c0,0,3.249-0.043,3.249,4.23C22.786,40.846,20.36,41.217,19.084,41.244z"/><path d="M42.382,23.746c-11.85,0-11.84,11.84-11.84,11.84s-0.812,11.779,11.84,11.779c0,0,10.545,0.602,10.545-8.195h-5.424   c0,0,0.18,3.314-4.941,3.314c0,0-5.422,0.361-5.422-5.363h15.967C53.106,37.121,54.854,23.746,42.382,23.746z M37.079,33.01   c0,0,0.662-4.75,5.422-4.75c4.762,0,4.699,4.75,4.699,4.75H37.079z"/><rect height="3.795" width="12.711" x="35.753" y="17.721"/></g></svg>
</a>
