.loading {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100500;
  background-color: white;
  padding-top: 40vh;
  img {
    width: 20vh;
    height: 20vh;
    display: block;
    margin: 0 auto;
  }
}
