@import '~sass/mixins';
@import '~sass/variables';

.post img {
  width: 100%;
}
.page {
  color: $grey2;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  @include screen(950px, 1199px) {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 'main additional';
  }
  @include screen(1200px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'main additional';
  }
  @include screen(0px, 949px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'main'
      'additional'
    ;
  }
  .main-post {
    grid-area: main;
    position: relative;
    .post {
      position: absolute;
      top: 0px;
      width: 100%;
      padding: 0 20px 20px 20px;
      @include screen(0px, 949px) {
        .separator {
          width: 100%;
          height: 100px;
          border-bottom: $border;
        }
      }
    }
  }
  .additional-posts {
    grid-area: additional;
    display: grid;
    @include screen(950px, 1199px) {
      grid-template-columns: 1fr 1fr;
    }
    @include screen(1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include screen(600px, 949px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include screen(450px, 599px) {
      grid-template-columns: 1fr 1fr;
    }
    @include screen(0px, 449px) {
      grid-template-columns: 1fr;
    }
    .post {
      padding: 0 20px 20px 20px;
      border-left: $border;
    }
  }
}
.wrapper {
  @include screen(450px) {
    padding: 100px 0;
  }
  @include screen(0px, 449px) {
    padding: 50px 0;
  }
}
