<div class="wrapper" *ngIf="page && page.posts && page.posts.length > 0 && page.posts[0]">
  <div class="page" #wholepage>
    <div class="main-post" #maincontainer>
      <div #mainpost class="post">
        <app-post-preview [post]="page.posts[0]" type="master"></app-post-preview>
        <div class="separator"></div>
      </div>
    </div>
    <div class="additional-posts">
      <ng-container *ngFor="let post of page.posts; index as i">
        <div class="post" *ngIf="i != 0">
          <app-post-preview [post]="post" type="slave"></app-post-preview>
        </div>
      </ng-container>
    </div>
  </div>
</div>
