<div class="gallery" *ngIf="shared.pictures && shared.pictures.length > 0">
  <div>
    <ng-container *ngFor="let picture of shared.pictures; index as i">
      <app-image *ngIf="i < shared.pictures.length/3" [src]="picture" type="image"></app-image>
    </ng-container>
  </div>
  <div>
    <ng-container *ngFor="let picture of shared.pictures; index as i">
      <app-image *ngIf="i >= shared.pictures.length/3 && i < shared.pictures.length*2/3" [src]="picture" type="image"></app-image>
    </ng-container>
  </div>
  <div>
    <ng-container *ngFor="let picture of shared.pictures; index as i">
      <app-image *ngIf="i >= shared.pictures.length*2/3" [src]="picture" type="image"></app-image>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="!shared.pictures || shared.pictures.length === 0">
  <app-loading></app-loading>
</ng-container>
