<div *ngIf="shared.categories">
  <ul>
    <ng-container *ngFor="let category of shared.categories">
      <li><a class="tag" [routerLink]="['/cat', category]">{{category}}</a></li>
    </ng-container>
  </ul>
</div>
<app-loading *ngIf="!shared.loaded"></app-loading>
