@import '~sass/mixins';
@import '~sass/variables';
.master, .one {
  text-align: center;
  @include screen(0px, 949px) {
    h2 {
      font-size: 30px;
      margin: 15px 0;
    }
  }
  @include screen(950px) {
    h2 {
      font-size: 50px;
      margin: 15px 0;
    }
  }
}
.slave {
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
  }
}
.two, .three {
  text-align: center;
  h2 {
    font-size: 30px;
  }
}

.four, .six {
  text-align: center;
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
  }
}
