<div class="post" #postElement>
  <a *ngIf="post.content" [routerLink]="['/post', post.id]" class="wrapper-link">
    <app-image [src]="post.preview.src" [type]="post.preview.type"></app-image>
  </a>
  <div *ngIf="!post.content">
    <app-image [src]="post.preview.src" [type]="post.preview.type"></app-image>
  </div>
  <h4>
    <ng-container *ngFor="let tag of post.tags">
      <a [routerLink]="['/cat', tag]" class="tag">{{tag}}</a>
    </ng-container>
  </h4>
  <a *ngIf="post.content" [routerLink]="['/post', post.id]" class="wrapper-link">
    <h2 *ngIf="shared.language =='en'">{{post.title_en}}</h2>
    <h2 *ngIf="shared.language =='ru'">{{post.title_ru}}</h2>
    <p *ngIf="shared.language =='en'">{{post.short_desc_en}}</p>
    <p *ngIf="shared.language =='ru'">{{post.short_desc_ru}}</p>
  </a>
  <div *ngIf="!post.content">
    <h2 *ngIf="shared.language =='en'">{{post.title_en}}</h2>
    <h2 *ngIf="shared.language =='ru'">{{post.title_ru}}</h2>
    <p *ngIf="shared.language =='en'">{{post.short_desc_en}}</p>
    <p *ngIf="shared.language =='ru'">{{post.short_desc_ru}}</p>
  </div>
</div>
