<app-cover></app-cover>
<div class="content">
  <ng-container *ngIf="shared.pages && shared.pageTypes">
    <ng-container *ngFor="let page of shared.pages; index as i">
      <ng-container *ngIf="i != 0">
        <app-page-one *ngIf="shared.pageTypes[i] == 1" [page]="page"></app-page-one>
        <app-page-two *ngIf="shared.pageTypes[i] == 2" [page]="page" [columns]="2"></app-page-two>
        <app-page-two *ngIf="shared.pageTypes[i] == 3" [page]="page" [columns]="3"></app-page-two>
        <app-page-two *ngIf="shared.pageTypes[i] == 4" [page]="page" [columns]="1"></app-page-two>
        <app-page-three *ngIf="shared.pageTypes[i] == 5" [page]="page"></app-page-three>
        <app-page-two *ngIf="shared.pageTypes[i] == 6" [page]="page" [columns]="6"></app-page-two>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<div class="links">
  <app-social-links></app-social-links>
</div>
<app-loading *ngIf="!shared.loaded"></app-loading>
