@import '~sass/variables';
@import '~sass/mixins';

.content {
  z-index: 10;
  position: relative;
  background-color: white;
  box-shadow: $shadow3;
  margin-bottom: 150px;
}
.links {
  position: fixed;
  bottom: 0;
  z-index: 8;
  width: 100%;
  height: 150px;
  padding-top: 50px;
}
