<div class="main" [class.backstaged]="backstage">
  <div class="wrapper">
    <h1 *ngIf="shared.language == 'en' && title_en">{{title_en}}</h1>
    <h1 *ngIf="shared.language == 'ru' && title_ru">{{title_ru}}</h1>
    <div class="description" *ngIf="desc_en || desc_ru">
      <ng-container *ngIf="shared.language == 'en' && desc_en">
        <ng-container *ngFor="let paragraph of desc_en.split('\n')">
          <p>{{paragraph}}</p>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="shared.language == 'ru' && desc_ru">
        <ng-container *ngFor="let paragraph of desc_ru.split('\n')">
          <p>{{paragraph}}</p>
        </ng-container>
      </ng-container>
    </div>
    <div class="content">
      <ng-container *ngFor="let image of images">
        <div class="image" *ngIf="image.position != 'backstage'" [class.left]="image.position == 'left'" [class.right]="image.position == 'right'" [class.full]="image.position == 'full' " [class.middle]="image.position == 'middle' ">
          <app-image [src]='image.src' [type]='image.type'></app-image>
          <p *ngIf="shared.language == 'en'">{{image.desc_en}}</p>
          <p *ngIf="shared.language == 'ru'">{{image.desc_ru}}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="backstage" *ngIf="backstage">
  <div #line class="line"
    (mousedown)="lineMoveStart($event)"
    (mouseup)="lineMoveEnd($event)"
    (mouseleave)="lineMoveEnd($event)"
    (mousemove)="lineMove($event)"
    (touchstart)="lineMoveStart($event)"
    (touchend)="lineMoveEnd($event)"
    (touchcancel)="lineMoveEnd($event)"
    (touchmove)="lineMove($event)"
  >
    <ng-container *ngFor="let image of images">
      <ng-container *ngIf="image.position == 'backstage'">
        <div class="image">
          <app-image [src]='image.src' [type]='image.type' height="30vh" (load)="lineLoad()"></app-image>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
<app-loading *ngIf="!ready"></app-loading>
