@import '~sass/variables';
@import '~sass/mixins';

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  color: #717171;
  .image {
    font-style: italic;
    align-self: center;
  }

  .content {
    display: grid;
    @include screen(650px) {
      grid-template-columns: 1fr 1fr;
    }
    @include screen(0px, 649px) {
      grid-template-columns: 1fr;
    }
    grid-gap: 40px;
  }

  @include screen(650px) {
    .full {
      grid-column: 1 / 3;
    }
    .left {
      grid-column: 1 / 2;
    }
    .right {
      grid-column: 2 / 3;
    }
    .middle {
      grid-column: 1 / 3;
      padding-left: 25%;
      padding-right: 25%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    @include screen(800px) {
      font-size: 70px;
    }
  }
  .description {

    font-size: 18px;
    text-align: center;
    margin: 50px 5px;
    p {
      margin-bottom: 5px;
      font-family: 'Sumana', serif;
      line-height: 1.4;
    }
    @include screen(800px) {
      font-size: 22px;
    }
  }
}
.main {
  position: relative;
  background-color: white;
  width: 100%;
  z-index: 50;
  padding: 100px 0px;
  @include screen(650px) {
    padding: 100px 10px;
  }
  box-shadow: $shadow3;
  min-height: 110vh;
}
.backstaged {
  margin-bottom: 30vh;
}
.backstage {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #0e0e0e;
  width: 100%;
  height: 30vh;
  .image {
    float: left;
  }
}
