.wrapper {
  max-width: 768px;
  margin: 10vh auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'en_title ru_title'
    'tags tags'
    'preview preview'
    'images images'
  ;
  grid-gap: 10px;
}
.en-title {
  grid-area: en_title;
}
.ru-title {
  grid-area: ru_title;
}
.tags {
  grid-area: tags;
}
.preview {
  grid-area: preview;
}
.images {
  grid-area: images;
}
.image {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'pic desc'
  ;
  grid-gap: 10px;
  .pic {
    grid-area: pic;
  }
  .desc {
    grid-area: desc;
  }
}
.submit {
  padding: 50px 0;
  text-align: center;
}
