
<div class="wrapper">
  <div class="en-title">
    <input class="wide-block" type="text" placeholder="English title" [(ngModel)]="title_en">
    <textarea class="wide-block" placeholder="English short description" [(ngModel)]="short_desc_en" rows="4"></textarea>
    <textarea class="wide-block" placeholder="English description" [(ngModel)]="desc_en" rows="8"></textarea>
  </div>
  <div class="ru-title">
    <input class="wide-block" type="text" placeholder="Russian title" [(ngModel)]="title_ru">
    <textarea class="wide-block" placeholder="Russian short description" [(ngModel)]="short_desc_ru" rows="4"></textarea>
    <textarea class="wide-block" placeholder="Russian description" [(ngModel)]="desc_ru" rows="8"></textarea>
  </div>
  <div class="tags">
    <input class="wide-block" type="text" placeholder="Tags divided by comma" [(ngModel)]="tags">
    <input *ngIf="!post_id" class="wide-block" type="text" placeholder="post id (not required) (should be unique without odd symbols)" [(ngModel)]="new_post_id">
  </div>
  <div class="preview">
    <h4>Choose preview</h4>
    <div style="margin: 10px 0">
      <app-image *ngIf="preview" [src]="preview.src" [type]="preview.type"></app-image>
    </div>
    <div style="margin: 10px 0">
      <app-add-image (upload)="changePreview($event)"></app-add-image>
    </div>
  </div>
  <div class="images">
    <input type="checkbox" [(ngModel)]="content"> Post with content (defines whether the post is clickable or not)
    <h4>Add content</h4>
    <ng-container *ngFor="let image of images; index as i">
      <div class="image">
        <div class="pic">
          <app-image [src]="image.src" [type]="image.type"></app-image>
        </div>
        <div class="desc">
          <textarea class="wide-block" rows="4" [(ngModel)]="image.desc_en" placeholder="English description"></textarea>
          <textarea class="wide-block" rows="4" [(ngModel)]="image.desc_ru" placeholder="Russian description"></textarea>
          <p>Postition:</p>
          <select [(ngModel)]="image.position">
            <option value="left">left</option>
            <option value="right">right</option>
            <option value="middle">middle</option>
            <option value="full">full</option>
            <option value="backstage">backstage</option>
          </select>
          <button class="btn2" (click)="imageUp(i)" *ngIf="i != 0">Up</button>
          <button class="btn2" (click)="imageDown(i)" *ngIf="i != images.length -1">Down</button>
          <button class="btn2" (click)="imageDelete(i)">Delete</button>
        </div>
      </div>
    </ng-container>
    <div style="margin: 10px 0">
      <app-add-image (upload)="addImage($event)"></app-add-image>
    </div>
    <div class="submit">
      <button class="btn" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
