<div class="manager" *ngIf="shared.pages">
  <div class="controls">
    <button class="btn2" routerLink='/admin/post-editor'>New post</button>
    <button class="btn2" (click)="shared.newPage()">New page</button>
    <button class="btn2" routerLink='/admin/tags'>Tag descriptions</button>
  </div>
  <div class="pages">
    <ng-container *ngFor="let page of shared.pages">
        <div *ngIf="page.page != 0" class="page" draggable="true" (dragstart)="pageDrag($event, page)" (drop)="pageDrop($event, page)" (dragover)="onDragOver($event)">
          <div class="posts">
              <ng-container *ngFor="let post of page.posts">
                <div class="post noselect" draggable="true" (dragstart)="postDrag($event, post)" (drop)="postDrop($event, post)" (dragover)="onDragOver($event)">
                  <div class="post-controls">
                    <a [routerLink]="['/admin/post-editor', {post: post.id}]"><img src="assets/edit.svg"></a>
                    <a (click)="shared.deletePost(post.id)"><img src="assets/delete.svg"></a>
                    <a [routerLink]="['/post', post.id]"><img src="assets/full.svg"></a>
                  </div>
                  <img *ngIf="post.preview.type == 'image'" [src]="post.preview.src" draggable="false">
                  <img *ngIf="post.preview.type != 'image'" src="assets/video.svg" draggable="false">
                  <h4 >{{post.title_en}}</h4>
                </div>
              </ng-container>
          </div>
          <div class="type">
            <ng-container *ngIf="shared.pageTypes && shared.pageTypes[page.page]">
              <select [(ngModel)]="shared.pageTypes[page.page]" (change)="shared.updatePageTypes()">
                <option value="1">Master and slaves</option>
                <option value="2">Two in a row</option>
                <option value="3">Three in a row</option>
                <option value="4">One in a row</option>
                <option value="5">Fullwidth sliding</option>
                <option value="6">Six in a row</option>
              </select>
              <img [src]="'assets/' + shared.pageTypes[page.page] + 'group.svg'" width="100%">
            </ng-container>
          </div>
        </div>
    </ng-container>
  </div>
  <div class="unsorted" (drop)="toUnsorted($event)" (dragover)="onDragOver($event)">
    <ng-container *ngIf="shared.pages[0]">
      <ng-container *ngFor="let post of shared.pages[0].posts">
        <div class="post" class="post noselect" draggable="true" (dragstart)="postDrag($event, post)">
          <div class="post-controls">
            <a [routerLink]="['/admin/post-editor', {post: post.id}]"><img src="assets/edit.svg"></a>
            <a (click)="shared.deletePost(post.id)"><img src="assets/delete.svg"></a>
            <a [routerLink]="['/post', post.id]"><img src="assets/full.svg"></a>
          </div>
          <img *ngIf="post.preview.type == 'image'" [src]="post.preview.src" draggable="false">
          <img *ngIf="post.preview.type != 'image'" src="assets/video.svg" draggable="false">
          <h4>{{post.title_en}}</h4>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
