@import '~sass/mixins';
@import '~sass/variables';

.manager{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
  'controls controls'
  'pages unsorted';
}
.pages {
  grid-area: pages;
  overflow: auto;
  padding: 20px;
  background-color: $lightGrey;
  .page {
    border: $border;
    background-color: white;
    min-height: 50px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto;
    grid-template-areas: 'posts type';
    .posts {
      grid-area: posts;
      // @include clearFix;
      padding: 10px;
    }
    .type {
      grid-area: type;
      background-color: #e6e6e6;
      select {
        width: 100%;
      }
    }
  }
  @include simpleScroll;
}
.unsorted {
  overflow: auto;
  grid-area: unsorted;
  border-left: $border;
  // @include clearFix;
  padding: 10px;
  .controls {
    background-color: $blue;
    width: 100%;
    height: 40px;
  }
  @include simpleScroll;
}

.post {
  width: 100px;
  vertical-align: top;
  display: inline-block;
  background-color: $lightGrey;
  margin: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: $shadow2;
  img {
    width: 100%;
  }
  h4 {
    font-size: 14px;
    font-weight: lighter;
    display: block;
    width: 100%;
    padding: 1px;
    text-align: center;
  }
  .post-controls {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    a{
      display: inline-block;
      background-color: white;
      border-radius: 15px;
      padding: 5px;
      margin: 5px;
    }
    img {
      display: block;
      width: 20px;
      height: 20px;
    }
    text-align: center;
    color: white;
  }
  &:hover {
    .post-controls {
      display: block;
    }
  }
}
.controls {
  grid-area: controls;
  text-align: center;
  line-height: 10vh;
  z-index: 1;
  box-shadow: $shadow;
  * {
    margin-bottom: 5px;
  }
}
