.vid-wrapper {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: black;
}
.vid-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img {
  display: block;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}
img.loaded {
  opacity: 1;
}
