<img #img *ngIf="type == 'image'" (load)="onLoad()" [src]="src" draggable="false" [class.loaded]="loaded">
<div #vid class="vid-wrapper" *ngIf="type == 'youtube' || type == 'vimeo'">
  <iframe (load)="onLoad()" [src]='iframe_src' allowfullscreen scrolling='no' frameborder="0"></iframe>
</div>
