@import '~sass/mixins';
@import '~sass/variables';

.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 100px 10px;
  margin: 0 auto;
  display: grid;
  @include screen(1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include screen(650px, 999px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include screen(400px, 649px) {
    grid-template-columns: 1fr 1fr;
  }
  @include screen(0px, 399px) {
    grid-template-columns: 1fr;
  }
  grid-gap: 100px 10%;
}
.category {
  text-align: center;
  margin: 50px 0;
  font-size: 50px;
}
.description {
  text-align: center;
  p {
    font-family: $font2;
    font-size: 22px;
    font-weight: bold;
  }
  margin: 0 auto;
  max-width: 1300px;
}
