<h4 class="category" ><a routerLink='/categories' class="tag">{{category}}</a></h4>
  <div class="description" *ngIf="shared.language === 'en' && desc_en"><p>{{desc_en}}</p></div>
  <div class="description" *ngIf="shared.language === 'ru' && desc_ru"><p>{{desc_ru}}</p></div>
<div class="wrapper">
  <ng-container *ngFor="let post of shared.posts">
    <div class="post" *ngIf="post.tags.includes(category)">
      <app-post-preview [post]="post" [type]="4"></app-post-preview>
    </div>
  </ng-container>
</div>
<app-loading *ngIf="!shared.loaded || !shared.tagsFetched"></app-loading>
