@import '~sass/variables';
@import '~sass/mixins';


.cover-wrapper {
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  position: relative;
  background-color: white;
  .cover {
    z-index: 9;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 35vh;
    color: rgb(71, 71, 71);
    h1 {
      font-size: 45px;
      @include screen(800px) {
        font-size: 100px;
      }
    }
    h2 {
      font-size: 25px;
      @include screen(800px) {
        font-size: 45px;
      }
    }
  }
}
