@import '~sass/mixins';
@import '~sass/variables';

.manager{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
  'controls controls'
  'tags descriptions';
}
.tags {
  grid-area: tags;
  overflow: auto;
  padding: 20px;
  background-color: $lightGrey;
  @include simpleScroll;
  text-align: center;
  font-size: 25px;
}
.descriptions {
  overflow: auto;
  grid-area: descriptions;
  border-left: $border;
  padding: 10px;
  @include simpleScroll;
  &>* {
    display: block;
  }
}

.controls {
  grid-area: controls;
  text-align: center;
  line-height: 10vh;
  z-index: 1;
  box-shadow: $shadow;
  * {
    margin-bottom: 5px;
  }
}
