<div class="manager" *ngIf="shared.pages">
  <div class="controls">
    <button class="btn2" (click)="clearFields()">New</button>
    <button class="btn2" routerLink='/admin/page-manager'>Page manager</button>
  </div>
  <div class="tags">
    <ul>
      <ng-container *ngFor="let tag of shared.tag_descs">
        <li><a class="tag" (click)="exposeTag(tag)">{{tag.tag}}</a></li>
      </ng-container>
    </ul>
  </div>
  <div class="descriptions">
    <input type="text" placeholder="tag" [(ngModel)]="tag">
    <textarea rows="8" cols="50" placeholder="english description" [(ngModel)]="desc_en"></textarea>
    <textarea rows="8" cols="50" placeholder="russian description" [(ngModel)]="desc_ru"></textarea>
    <div>
      <button class="btn" (click)="submit()">Submit</button>
      <button class="btn" (click)="delete()">Delete</button>
    </div>
  </div>
</div>
