<form (ngSubmit)=onSubmit()>
  <input type="text" name="username" value="" placeholder="username" [(ngModel)]="username">
  <input type="password" name="password" value="" placeholder="password" [(ngModel)]="password">
  <button type="submit" name="button" class="btn">LogIn</button>
  <p *ngIf="error" class="error">{{error}}</p>
</form>
