<div class="wrapper" [class.col1]="columns == 1" [class.col2]="columns == 2" [class.col3]="columns == 3" [class.col6]="columns == 6" *ngIf="page && page.posts && page.posts.length > 0">
  <div class="page">
    <ng-container *ngFor="let post of page.posts">
      <app-post-preview  [post]="post" [type]="columns"></app-post-preview>
    </ng-container>
  </div>
</div>
