@import '~sass/mixins';
@import '~sass/variables';

.wrapper {
  @include screen(450px) {
    padding: 100px 10px;
  }
  @include screen(0px, 449px) {
    padding: 50px 10px;
  }
}
.page {
  width: 100%;
  margin: 0 auto;
  display: grid;
  color: $grey2;
}

.col1 {
  .page {
    max-width: 1300px;
    grid-template-columns: 1fr;
    grid-gap: 100px;
  }
}

.col2 {
  .page {
    max-width: 1000px;
    @include screen(450px) {
      grid-template-columns: 1fr 1fr;
    }
    @include screen(0px, 449px) {
      grid-template-columns: 1fr;
    }
    grid-gap: 100px 10%;
  }
}

.col3 {
  .page {
    max-width: 1300px;
    @include screen(700px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include screen(450px, 699px) {
      grid-template-columns: 1fr 1fr;
      app-post-preview:nth-child(3n-2) {
        grid-column: 1/3;
      }
    }
    @include screen(0px, 449) {
      grid-template-columns: 1fr;
    }
    grid-gap: 100px 10%;
  }
}

.col6 {
  .page {
    max-width: 1300px;
    @include screen(1000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    @include screen(450px, 999px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include screen(0px, 449) {
      grid-template-columns: 1fr;
    }
    grid-gap: 100px 2%;
  }
}
