@import "~sass/mixins";

.wrapper {
  height: 50vh;
  position: relative;
  overflow: hidden;
  margin: 50px 0;
}
.image {
  position: absolute;
  width: 300%;
  left: -100%;
  bottom: 0;
  @include screen(768px) {
    width: 100%;
    left: 0;
  }
}

.wrapper2 {
  width: 100%;
  max-width: 1300px;
  padding: 50px 10px;
  @include screen(450px) {
    padding: 50px 10px;
  }
}
