<div class="wrapper" *ngIf="viewWidth >= 768 && page && page.posts && page.posts.length > 0 && page.posts[0]" #container>
  <div class="image" #image>
    <a *ngIf="page.posts[0].content" [routerLink]="['/post', page.posts[0].id]" class="wrapper-link">
      <app-image [src]="page.posts[0].preview.src" [type]="page.posts[0].preview.type" (load)="onLoad()"></app-image>
    </a>

      <app-image *ngIf="!page.posts[0].content" [src]="page.posts[0].preview.src" [type]="page.posts[0].preview.type" (load)="onLoad()"></app-image>

  </div>
</div>
<div class="wrapper2" *ngIf="viewWidth < 768 && page && page.posts && page.posts.length > 0 && page.posts[0]">
  <app-post-preview [post]="page.posts[0]" [type]="1"></app-post-preview>
</div>
